$red = rgb(231, 76, 60)
$blue = rgb(52, 152, 219)
$green = rgb(39, 174, 96)

$theme-color = rgb(52, 73, 94)
$accent-color = rgb(83, 104, 136)
$text-color = rgb(236, 240, 241)

$highlight-active = $green
