@require 'mixins'
@require 'colors'

.input
  active-animation()
  input-styles()
  accent-border()

.button
  active-animation()
  input-styles()
  width: min-content
  min-width: 4em
  opacity: 0.7
  cursor: pointer

  &:hover
    opacity: 1

.textarea
  input-styles()
  accent-border()
  animate()

.toggle
  active-animation()
  font-size: 90%
  opacity: 0.5
  border-bottom: 1px solid transparent

  &.toggle-checked
    opacity: 0.8

  &:hover
    opacity: 1
    border-bottom-color: rgba($text-color, 0.3)

.icon-input
  active-animation()
  position: relative

  i
    position: absolute
    padding: 0.3em 0.5em
    pointer-events: none
    opacity: 0.5

  input
    input-styles()
    accent-border()
    animate()
    padding-left: 2em

.icon-label
  margin-left: 0.15em

.selection-list
  display: inline-block
  width: 14em
  height: 20em
  background: darken($theme-color, 20%)
  overflow-y: auto

  a
    active-animation()
    display: block
    padding: 0.35em 0.6em

  a.selection-list-active
    background: rgba($highlight-active, 0.5)

[data-tooltip]
  position: relative

  &::after
    animate()
    content: attr(data-tooltip)
    background: darken($theme-color, 50%)
    font-size: 0.9rem
    position: absolute
    padding: 0.3em 0.6em
    width: max-content
    max-width: 10em
    text-align: center
    border-radius: 0.15em
    pointer-events: none
    opacity: 0
    z-index: 9999
    transition-delay: 0s

  &:hover::after
    opacity: 1
    transition-delay: 0.3s

  &.tooltip-right
    &::after
      top: 50%
      transform: translateY(-50%)

    &:hover::after
      transform: translateY(-50%) translateX(0.5em)

  &.tooltip-bottom
    &::after
      top: 100%
      left: 50%
      transform: translateX(-50%)

    &:hover::after
      transform: translateX(-50%) translateY(0.3em)
