flex($direction = row)
  display: flex
  flex-direction: $direction

flex-align($justify, $align = $justify)
  display: flex
  justify-content: $justify
  align-items: $align

.flex-row
  flex(row)

.flex-column
  flex(column)

.flex-grow
  flex-grow: 1

.flex-fixed
  flex-shrink: 0
