@require 'theme'
@require 'highlight'

.form-input
  animate-press()
  theme-input-styles()
  accent-border()

.form-button
  theme-input-styles()
  animate-press()
  width: min-content
  min-width: 4em
  cursor: pointer

.form-textarea
  theme-input-styles()
  accent-border()
  transition: 0.25s

.form-icon-input
  animate-press()
  position: relative

  i
    position: absolute
    padding: 0.3em 0.5em
    pointer-events: none
    opacity: 0.5
    z-index: 20

  input, textarea
    theme-input-styles()
    accent-border()
    transition: 0.25s
    padding-left: 2em
    z-index: 19

.form-selection-list
  display: inline-block
  width: 14em
  height: 20em
  background: theme-darker(20%)
  overflow-y: auto

  a
    animate-press()
    display: block
    padding: 0.35em 0.6em

  a.active
    highlight($green)
