@require 'theme'
@require 'highlight'

.form-input
  theme-click-animation()
  theme-input-styles()
  accent-border()

.form-button
  theme-input-styles()
  width: min-content
  min-width: 4em
  cursor: pointer

  &:hover
    transform: translateY(-0.2em)

  theme-click-animation()

.form-textarea
  theme-input-styles()
  accent-border()
  transition: 0.25s

.form-icon-input
  theme-click-animation()
  position: relative

  i
    position: absolute
    padding: 0.3em 0.5em
    pointer-events: none
    opacity: 0.5

  input, textarea
    theme-input-styles()
    accent-border()
    transition: 0.25s
    padding-left: 2em

.form-selection-list
  display: inline-block
  width: 14em
  height: 20em
  background: theme-darker(20%)
  overflow-y: auto

  a
    theme-click-animation()
    display: block
    padding: 0.35em 0.6em

  a.active
    highlight($green)
