@require 'theme'
@require 'layout'
@require 'link'

@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')

*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  color: $text-color
  font: 13pt Roboto, Helvetica, Arial, sans-serif

:focus
  outline: none

a
  color: inherit
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: 'Roboto Condensed'
  font-weight: lighter
  opacity: 0.9

h1 { font-size: 2.4em }
h2 { font-size: 1.8em }
h3 { font-size: 1.5em }
h4 { font-size: 1.2em }
h5 { font-size: 1.1em }
h6 { font-size: 0.9em }

input, button, textarea
  font: inherit
  color: inherit
  background: none
  border: none

textarea
  resize: none

fieldset
  border: none
  margin-bottom: 0.8em

ul, ol, li
  list-style: none

::-webkit-scrollbar
  size(10px)
  &-track
    background: darken($theme-color, 40%)
  &-thumb
    background: lighten($theme-color, 10%)

.chat-icon
  size(40px)
  display: inline-block
  background-size: contain
  vertical-align: text-top
