@import './colors';

* {
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  font: 16px 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
  padding: 0.5rem 0.75rem;
  background-color: $bg-color-darken-1;
  border: none;
}

button,
select {
  cursor: pointer;
  transition: 0.25s background-color;

  &:hover {
    background-color: $bg-color-darken-2;
  }

  &:focus {
    outline: none;
    background-color: $bg-color-darken-2;
  }
}

input,
textarea {
  transition: 0.25s background-color;

  &:focus {
    background-color: $bg-color-darken-2;
    outline: none;
  }
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

@media screen {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($bg-color, 5%);
  }

  ::-webkit-scrollbar-track {
    background: darken($bg-color-darken-1, 5%);
  }
}
