@require 'colors'

size($width, $height = $width)
  width: $width
  height: $height

min-size($width, $height = $width)
  min-width: $width
  min-height: $height

max-size($width, $height = $width)
  max-width: $width
  max-height: $height

width-limit($min, $max)
  min-width: $min
  max-width: $max

height-limit($min, $max)
  min-height: $min
  max-height: $max

anchor($sides)
  position: absolute
  for $side in $sides
    {$side}: 0

fullscreen()
  anchor(top right bottom left)

flex($direction = row)
  display: flex
  flex-direction: $direction

flex-align($justify, $align = $justify)
  display: flex
  justify-content: $justify
  align-items: $align

animate($time = 0.25s)
  transition: $time

input-styles()
  width: 10em
  background: darken($theme-color, 25%)
  padding: 0.3em 0.6em

accent-border($side = 'bottom')
  border-{$side}: 2px solid $accent-color

  &:focus
    border-{$side}-color: lighten($accent-color, 30%)

active-animation()
  display: inline-block
  transform: scale(1)
  animate()

  &:active
    transform: scale(0.95)
    animate(0.05s)
