$ease-in-quad      = cubic-bezier(0.550,  0.085, 0.680, 0.530)
$ease-out-quad     = cubic-bezier(0.250,  0.460, 0.450, 0.940)
$ease-in-out-quad  = cubic-bezier(0.455,  0.030, 0.515, 0.955)

@keyframes fade
  from { opacity: 0 }
  to { opacity: 1 }

@keyframes slide
  from { transform: translateY(-4em) }
  to { transform: translateY(0) }

@keyframes slide-left
  from { transform: translateX(-100%) }
  to { transform: translateX(0) }

@keyframes slide-right
  from { transform: translateX(100%) }
  to { transform: translateX(0) }

.fade-move { transition: 0.3s ease }
.fade-enter-active { animation: fade 0.3s }
.fade-leave-active { animation: fade reverse 0.3s }

.overlay-enter-active
  animation: fade-enter 0.3s ease

  .ui-panel { animation: slide 0.3s $ease-out-quad }
  .ui-panel-left { animation: slide-left 0.3s $ease-out-quad }
  .ui-panel-right { animation: slide-right 0.3s $ease-out-quad }

.overlay-leave-active
  animation: fade 0.3s reverse

  .ui-panel { animation: slide 0.3s $ease-in-quad reverse }
  .ui-panel-left { animation: slide-left 0.3s $ease-in-quad reverse }
  .ui-panel-right { animation: slide-right 0.3s $ease-in-quad reverse }
