@import 'vars'

.link
  color: lighten($theme-color, 80%)
  border-bottom: 1px solid rgba(lighten($theme-color, 80%), 0.3)
  opacity: 1

  animate-press()

.form-input
  animate-press()
  theme-input-styles()
  accent-border()

.form-button
  theme-input-styles()
  animate-press()
  width: min-content
  min-width: 4em
  cursor: pointer

.form-textarea
  theme-input-styles()
  accent-border()
  transition: 0.25s

.form-icon-input
  animate-press()
  position: relative
  display: inline-block

  i
    position: absolute
    padding: 0.3em 0.5em
    pointer-events: none
    opacity: 0.5
    z-index: 20

  input, textarea
    theme-input-styles()
    accent-border()
    transition: 0.25s
    padding-left: 2em
    z-index: 19

.form-selection-list
  display: inline-block
  width: 14em
  height: 20em
  background: theme-darker(20%)
  overflow-y: auto

  a
    animate-press()
    display: block
    padding: 0.35em 0.6em

  a.active
    highlight($green)

*
  margin: 0
  padding: 0
  box-sizing: border-box

.chat-icon
  size(40px)
  display: inline-block
  background-size: contain
  vertical-align: text-top

.overlay-panel
  background: $theme-color
  width: max-content
  box-shadow: 0px 2px 6px rgba(black, 0.5)
  position: relative

.overlay-shade
  background: rgba(black, 0.5)
  fullscreen()
  flex-align(center)

.overlay-enter-active
  animation: fade 0.3s ease
  .overlay-ease-down
    animation: ease-down 0.3s ease
  .overlay-slide-right
    animation: slide-right 0.3s ease

.overlay-leave-active
  animation: fade 0.3s ease reverse
  .overlay-ease-down
    animation: ease-down 0.3s ease reverse
  .overlay-slide-right
    animation: slide-right 0.3s ease reverse

[data-tooltip]
  position: relative

  &::after
    content: attr(data-tooltip)
    white-space: pre-line
    background: darken($theme-color, 50%)
    font-size: 0.9rem
    position: absolute
    padding: 0.3em 0.6em
    width: max-content
    max-width: 12em
    text-align: center
    border-radius: 0.15em
    pointer-events: none
    opacity: 0
    transition: 0.3s

  &:hover
    z-index: 9999

  &:hover::after
    opacity: 1
    transition-delay: 0.2s

  &.tooltip-right
    &::after
      top: 50%
      transform: translateY(-50%)

    &:hover::after
      transform: translateY(-50%) translateX(0.5em)

  &.tooltip-bottom
    &::after
      top: 100%
      left: 50%
      transform: translateX(-50%)

    &:hover::after
      transform: translateX(-50%) translateY(0.3em)

  &.tooltip-top
    &::after
      bottom: 100%
      left: 50%
      transform: translateX(-50%)

    &:hover::after
      transform: translateX(-50%) translateY(-0.3em)
