
.ui-fullscreen
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

for n in 0..12
  .ui-width-{n}
    width: 2rem * n

  .ui-height-{n}
    height: 3rem * n

  .ui-padding-{n}
    padding: (0.15rem * n) 0.65rem

  .ui-padding-square-{n}
    padding: 1rem * n

  .ui-margin-{n}
    margin: 1rem * n

  for $side in (left top right bottom)
    .ui-margin-{$side}-{n}
      margin-{$side}: 1rem * n

  .ui-margin-v-{n}
    @extend .ui-margin-top-{n}, .ui-margin-bottom-{n}

  .ui-margin-h-{n}
    @extend .ui-margin-left-{n}, .ui-margin-right-{n}

.ui-padding-subtle
  padding: 0.5em

.ui-scroll-y
  overflow-y: auto
  &.flex-grow
    min-height: 0

.ui-block
  display: block

.ui-inline-block
  display: inline-block

for $side in (top right bottom left)
  .ui-divide-{$side}
    margin-{$side}: 4px

for $side in (left right)
  .ui-anchor-{$side}
    position: absolute
    top: 0
    bottom: 0
    {$side}: 0

for $side in (top bottom)
  .ui-anchor-{$side}
    position: absolute
    left: 0
    right: 0
    {$side}: 0

.ui-text-center
  text-align: center

.ui-block-center
  margin-left: auto
  margin-right: auto

.ui-fit-width
  max-width: 100%

.ui-fit-height
  max-height: 100%

.ui-fit
  max-width: 100%
  max-height: 100%

.ui-fit-viewport
  max-width: calc(100vw - 2rem)
  max-height: calc(100vh - 2rem)
