@media (min-width: 800px) and (min-height: 600px)
  .res:not(.res-desktop)
    display: none

@media (max-width: 800px), (max-height: 600px)
  @media (orientation: landscape)
    .res:not(.res-mobile-landscape)
      display: none

  @media (orientation: portrait)
    .res:not(.res-mobile-portrait)
      display: none
