
.ui-font-primary
  font-family: 'Roboto', sans-serif

.ui-font-secondary
  font-family: 'Roboto Condensed', sans-serif

.ui-font-size
  font-size: 14pt

.ui-font-light
  font-weight: 300

.ui-font-color
  color: $colors.text

.ui-text
  @extend .ui-font-primary, .ui-font-size, .ui-font-color
  line-height: 1.4

for $h in 1..6
  .ui-header-{$h}
    @extend .ui-font-color, .ui-font-secondary, .ui-font-light
    font-size: 180% - (($h - 1) * 30%)

.ui-text-small
  font-size: 75%

.ui-text-faded
  color: darken($colors.text, 40%)
