
.ui-shadow
  box-shadow: 0px 2px 8px rgba(black, 0.3)

.ui-rounded
  border-radius: 0.2rem

.ui-transition
  transition: 0.17s

.ui-pointer
  cursor: pointer

.ui-faded
  opacity: 0.5

.ui-small
  font-size: 80%

.ui-border
  border-bottom: 2px solid $colors.light

.ui-ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.ui-border-focus
  @extend .ui-transition
  &:focus
    border-color: lighten($colors.light, 40%)

.ui-hover-darken
  @extend .ui-transition
  &:hover
    @extend .color-darker

.ui-focus-darken
  @extend .ui-transition
  &:focus
    @extend .color-darker

.ui-overlay
  @extend .ui-fullscreen, .flex-center
  background-color: rgba(black, 0.5)

.ui-panel
  @extend .color-main, .ui-shadow
  width: min-content
  position: relative

for $side in (left right)
  .ui-panel-{$side}
    @extend .color-main, .ui-shadow, .ui-anchor-{$side}

.ui-field
  margin-bottom: 1rem
  &:first-child
    margin-top: 1rem

.ui-input
  @extend .color-dark, .flex, .ui-transition

  input, textarea
    @extend .ui-padding-2, .ui-border, .ui-border-focus
    font-size: 90%
    width: 100%

    &:focus
      @extend .color-darker

for $side in (left right)
  .ui-input-icon-{$side}
    @extend .ui-input
    position: relative

    input, textarea
      padding-{$side}: 2.2rem

    .ui-icon
      @extend .ui-padding-2
      position: absolute
      {$side}: 0
      opacity: 0.5
      pointer-events: none

.ui-button
  @extend .color-dark
  @extend .ui-padding-2
  @extend .ui-pointer, .ui-transition
  @extend .ui-hover-darken, .ui-focus-darken
  font-size: 90%
  min-width: 4em
