@require 'mixins/theme'
@require 'mixins/highlight'

.form-input
  active-animation()
  input-styles()
  accent-border()

.form-button
  active-animation()
  input-styles()
  width: min-content
  min-width: 4em
  opacity: 0.7
  cursor: pointer

  &:hover
    opacity: 1

.form-textarea
  input-styles()
  accent-border()
  transition: 0.25s

.form-icon-input
  active-animation()
  position: relative

  i
    position: absolute
    padding: 0.3em 0.5em
    pointer-events: none
    opacity: 0.5

  input
    input-styles()
    accent-border()
    transition: 0.25s
    padding-left: 2em

.form-selection-list
  display: inline-block
  width: 14em
  height: 20em
  background: theme-darker(20%)
  overflow-y: auto

  a
    active-animation()
    display: block
    padding: 0.35em 0.6em

  a.active
    highlight($green)
