@require 'mixins/theme'

[data-tooltip]
  position: relative

  &::after
    content: attr(data-tooltip)
    background: darken($theme-color, 50%)
    font-size: 0.9rem
    position: absolute
    padding: 0.3em 0.6em
    width: max-content
    max-width: 10em
    text-align: center
    border-radius: 0.15em
    pointer-events: none
    opacity: 0
    z-index: 9999
    transition: 0.3s

  &:hover::after
    opacity: 1
    transition-delay: 0.3s

  &.tooltip-right
    &::after
      top: 50%
      transform: translateY(-50%)

    &:hover::after
      transform: translateY(-50%) translateX(0.5em)

  &.tooltip-bottom
    &::after
      top: 100%
      left: 50%
      transform: translateX(-50%)

    &:hover::after
      transform: translateX(-50%) translateY(0.3em)
