doctype html
html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:400,700")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.6.50/css/materialdesignicons.css")
    title F-Chat Next

  body
    audio#sound-notify
      source(src="assets/notify.mp3" type="audio/mp3")
      source(src="assets/notify.ogg" type="audio/ogg")

    app
    script(src="bundle.js" async)
