targets:
  dev:
    cmd: 'sh'
    args: ['scripts/dev.sh']
    cwd: '{PROJECT_PATH}'

  run:
    cmd: 'sh'
    args: ['scripts/run.sh']
    cwd: '{PROJECT_PATH}'

  build:
    cmd: 'sh'
    args: ['scripts/build.sh']
    cwd: '{PROJECT_PATH}'
