$colors = {
  white: rgb(255, 255, 255)
  black: rgb(20, 20, 20)
  red: rgb(255, 63, 43)
  blue: rgb(52, 152, 219)
  yellow: rgb(238, 247, 125)
  green: rgb(46, 204, 113)
  pink: rgb(255, 192, 203)
  gray: rgb(149, 165, 166)
  orange: rgb(230, 126, 34)
  purple: rgb(206, 139, 233)
  brown: rgb(204, 136, 107)
  cyan: rgb(77, 200, 255)
}

for $name, $color in $colors
  .chat-color.{$name}
    color: $color
    text-shadow: 0px 1px 2px rgba(black, 0.5)
