.text-field
  composes: 'normal' from './typography.styl'
  composes: 'flow-margin' from './layout.styl'
  composes: dark border-highlight from './theme-colors.styl'
  outline: none
  padding: 0.4em 0.6em
  transition: 0.2s

  &:focus
    composes: dark border-highlight-bright from './theme-colors.styl'

.button
  composes: text-field
  padding-left: 1.3em
  padding-right: 1.3em
  cursor: pointer

  &:hover
    composes: light border-highlight-bright from './theme-colors.styl'

.textarea
  composes: text-field

.shadow
  box-shadow: 0px 0.5em 1em rgba(black, 0.5)

.overlay-shade
  composes: fullscreen center-children from './layout.styl'
  background-color: rgba(black, 0.3)

.overlay-panel
  @extend .bg-theme
  @extend .shadow
  @extend .flow-padding
  width: 16em

.overlay-side-panel
  @extend .overlay-panel
  width: 10em
  height: 100vh

ul.selection-list
  @extend .input
  @extend .flow-margin

  $active-color = rgb(39, 174, 96)

  display: inline-block
  list-style: none
  width: 12em
  height: 20em
  overflow-y: scroll
  padding: 0

  li
    transition: 0.2s
    padding: 0.5em 0.5em
    cursor: pointer
    user-select: none

    &:hover
      @extend .bg-theme-darkest

  li.active
    background-color: rgba($active-color, 0.3)
    color: lighten($active-color, 10%)
