*
  box-sizing: border-box
  margin: 0
  padding: 0

:root
  composes: normal from './typography.styl'
  font-size: 14pt

h1, h2, h3, h4, h5, h6
  composes: light from './typography.styl'
  margin: 0em 0em 0.75em

input
  composes: text-field from './components.styl'

button
  composes: button from './components.styl'

a
  text-decoration: none
  color: inherit

::-webkit-scrollbar
  width: 0.5em
  height: 0.5em

::-webkit-scrollbar-track
  composes: dark from './theme-colors.styl'

::-webkit-scrollbar-thumb
  composes: light from './theme-colors.styl'
