$theme-color = hsl(210, 50%, 30%)
$theme-color-darker = hsl(211, 50%, 23%)
$theme-color-lighter = lighten($theme-color, 8%)

.main
  background-color: $theme-color

.dark
  background-color: $theme-color-darker

.darker
  background-color: darken($theme-color-darker, 20%)

.light
  background-color: $theme-color-lighter

.border-highlight
  border: none
  border-bottom: 3px solid $theme-color-lighter

.border-highlight-bright
  border: none
  border-bottom: 3px solid lighten($theme-color-lighter, 20%)
