$font-size = 14pt
$font-family = 'Roboto', sans-serif
$text-color = hsl(205, 30%, 90%)

.normal
  font-family: $font-family
  font-weight: 400
  color: $text-color

.light
  @extend .normal
  font-weight: 300

.underline
  @extend .normal
  text-decoration: none
  border-bottom: 1px solid rgba($text-color, 0.2)

.underline-bright
  @extend .underline
  border-bottom-color: rgba($text-color, 0.5)
