.flex-row {
  display: flex;
  & > * {
    flex-shrink: 0;
}
}

.flex-column {
  @extend .flex-row;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-center { justify-content: center }
.flex-justify-start { justify-content: flex-start }
.flex-justify-end { justify-content: flex-end }
.flex-justify-space-around { justify-content: space-around }
.flex-justify-space-between { justify-content: space-between }

.flex-align-center { align-items: center }
.flex-align-start { align-items: flex-start }
.flex-align-end { align-items: flex-end }
.flex-align-stretch { align-items: stretch }
.flex-align-baseline { align-items: baseline }
