.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.scroll-v {
  overflow-y: auto;
  min-height: 0;
  transform: translateZ(0); // for accelerated GPU rendering
}

.fill-area {
  width: 100%;
  height: 100%;
}

.block {
  display: block;
}

.faded {
  opacity: 0.5;
}

.full-width { width: 100%; }
.full-height { height: 100%; }

.cursor-pointer { cursor: pointer }

.no-line-height {
  line-height: 0;
}

.preserve-ws {
  white-space: pre-line;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
