@require 'variables'
@require 'mixins'

:root
  color: text-color
  font-size: 16pt
  font-family: 'Roboto Condensed'

*, ::before, ::after
  box-sizing: border-box
  border: none
  margin: 0

img
  box-sizing: content-box
  display: inline-block

input, textarea, button, div[contenteditable]
  outline: none

input
  input-styles(input-width)

textarea, button, div[contenteditable]
  input-styles()

input, textarea
  inherit-text()
  font-size: input-font-size
  padding: input-padding

button
  inherit-text()
  padding: button-padding

  +transition(hover)
    background: darken(bg-color, 10%)
    cursor: pointer

div[contenteditable]
  width: input-width

  &:empty::before
    content: attr(placeholder)
    opacity: 0.5
    cursor: text

textarea
  resize: none

ol, ul
  padding: 0

li
  list-style: none

for n in (1..6)
  h{n}
    font-weight: 300
    margin-bottom: 0.5em


::-webkit-scrollbar
  width: 0.6em

::-webkit-scrollbar-track
  background: darken(bg-color, 20%)

::-webkit-scrollbar-thumb
  background: lighten(fg-color, 5%)
