@use postcss-short

:root
  --primary: rgb(44, 62, 80)
  --secondary: rgb(52, 73, 94)
  --text: rgb(236, 240, 241)

:root
  color: var(--text)
  font-size: 16pt
  font-family: 'Roboto Condensed', sans-serif

.shade
  position: fixed 0
  background: rgba(0, 0, 0, 0.3)
