@import 'variables'
@import 'mixins'

.container
  color: text-color
  font-size: 16pt
  font-family: 'Roboto Condensed'

*, ::before, ::after
  box-sizing: border-box
  border: none
  margin: 0

input, textarea, button
  outline: none
  margin-bottom: 1.2em
  input-styles()

input, textarea
  inherit-text()
  font-size: 0.85em
  padding: 0.5em 0.7em


button
  inherit-text()
  padding: 0.4em 1em

  +transition(hover)
    background: darken(bg-color, 10%)
    cursor: pointer

for n in (1..6)
  h{n}
    font-weight: 300
    margin-bottom: 0.5em


::-webkit-scrollbar
  width: 0.6em

::-webkit-scrollbar-track
  background: darken(bg-color, 20%)

::-webkit-scrollbar-thumb
  background: lighten(fg-color, 5%)
