@import 'variables'

.center-content
  box: center middle

.center-content-vertical
  box: center

.center-content-horizontal
  box: middle

.fg-color
  background: fg-color

.bg-color
  background: bg-color
