@require 'variables'
@require 'mixins'

.center-content
  box: center middle

.center-content-vertical
  box: center

.center-content-horizontal
  box: middle

.fg-color
  background: fg-color

.bg-color
  background: bg-color

.border-highlight
  border-highlight()

.overlay-shade
  position: fixed 0
  background: rgba(0, 0, 0, 0.3)


.material-shadow
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4),
    0px 0px 6px rgba(0, 0, 0, 0.3)

.panel
  width: min-content
  max-height: 80vh
  background: fg-color
  padding: 2em 2em 1em
  text-align: center

.side-panel
  width: min-content
  height: 100vh

.overflow
  overflow-y: auto

.preserve-space
  white-space: pre-wrap
