@import './colors';

:root {
  font: 16px 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  color: inherit;
  font: inherit;
  padding: 0.5rem 0.75rem;
  background-color: $bg-color-darken-1;
  border: none;
}

button, select {
  cursor: pointer;
  transition: 0.25s background-color;

  &:hover {
    background-color: $bg-color-darken-2;
  }

  &:focus {
    outline: none;
    background-color: $bg-color-darken-2;
  }
}

input, textarea {
  transition: 0.25s background-color;

  &:focus {
    background-color: $bg-color-darken-2;
    outline: none;
  }
}

fieldset {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

@media screen {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $bg-color;
  }

  ::-webkit-scrollbar-track {
    background: $bg-color-darken-1;
  }
}
