.grid
  position: fixed 0
  box: vertical

.row
  box: horizontal
  flex-shrink: 0

.col
  box: vertical
  flex-shrink: 0

for n in (1..10)
  .row-{n}
    height: (n)em
    flex-shrink: 0

  .col-{n}
    width: (n)em
    flex-shrink: 0

.grow
  box-item: flex-1
  flex-shrink: 1

.divider
  size: 4px
