.input,
.button {
  font: inherit;
  color: inherit;
  background-color: var(--bg-2);
  border: none;
  padding: 0.4em 0.75em;
  transition: 0.2s;
}

.input:focus {
  outline: none;
  background-color: var(--bg-3);
}

.button:hover {
  cursor: pointer;
  background-color: var(--bg-3);
}

.button:focus {
  outline: none;
  background-color: var(--bg-3);
}
