.fullscreen
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0

.text-align-center
  text-align: center

.center-children
  display: flex
  justify-content: center
  align-items: center

.center-children-vertical
  display: flex
  align-items: center

.flow-padding
  padding-top: 1.2em

.flow-margin
  margin-bottom: 1.2em

.overflow-scroll
  overflow-y: scroll
