.flex-box
  display: flex
  flex-shrink: 0

.flex-horizontal
  @extend .flex-box
  flex-direction: row

.flex-vertical
  @extend .flex-box
  flex-direction: column

.flex-grow
  flex-grow: 1
  flex-shrink: 1

.flex-center
  justify-content: center
  align-items: center

.fullscreen
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0

.text-align-center
  text-align: center

.flow-padding
  padding-top: 1.2em

.flow-margin
  margin-bottom: 1.2em
