@import 'variables'

material-shadow()
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4),
    0px 0px 6px rgba(0, 0, 0, 0.3)

panel(width = 16em)
  material-shadow()
  width: width
  background: fg-color
  padding: 2em 2em 1em

overlay-shade()
  position: fixed 0
  box: middle center
  text-align: center
  background: rgba(0, 0, 0, 0.3)

transition()
  transition: 0.2s ease all

border-highlight()
  transition()

  border-bottom: 2px solid lighten(fg-color, 20%)

  &:focus
    border-bottom-color: lighten(fg-color, 40%)

inherit-text()
  color: inherit
  font: inherit
