fg-color = hsl(210, 50%, 30%)
bg-color = hsl(210, 50%, 24%)
text-color = hsl(205, 30%, 90%)

green = rgb(39, 174, 96)
red = rgb(192, 57, 43)
blue = rgb(41, 128, 185)

input-padding = 0.4em 0.8em
input-margin = 0em 0em 1em
