$colors = {
  text: hsl(205, 30%, 90%)

  main: hsl(210, 50%, 30%)
  dark: hsl(211, 50%, 23%)
  light: lighten(hsl(210, 50%, 30%), 20%)

  red: rgb(231, 76, 60)
  blue: rgb(52, 152, 219)
  green: rgb(39, 174, 96)
}

// reset
*
  box-sizing: border-box

// typography
.ui-font-primary
  font-family: 'Roboto', sans-serif

.ui-font-secondary
  font-family: 'Roboto Condensed', sans-serif

.ui-font-size
  font-size: 14pt

.ui-font-light
  font-weight: 300

.ui-font-color
  color: $colors.text

.ui-text
  @extend .ui-font-primary, .ui-font-size, .ui-font-color

for $h in 1..6
  .ui-header-{$h}
    @extend .ui-text, .ui-font-secondary, .ui-font-light
    // font-size: 200% - ($h * 20)%
    margin: 0

// coloring & styling
.ui-color-main { background-color: $colors.main }
.ui-color-dark { background-color: $colors.dark }
.ui-color-darker { background-color: darken($colors.dark, 25%) }
.ui-color-light { background-color: $colors.light }
.ui-color-lighter { background-color: lighten($colors.light, 20%) }

.ui-shadow
  box-shadow: 0px 2px 8px rgba(black, 0.3)

// layout
.ui-fullscreen
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

for n in 1..6
  .ui-width-{n}
    width: 2rem * n

  .ui-max-width-{n}
    max-width: 2rem * n

  .ui-height-{n}
    height: 2rem * n

  .ui-height-{n}
    max-height: 2rem * n

  .ui-padding-{n}
    padding: (0.15rem * n) 0.6rem

.ui-scroll-y
  overflow-y: auto

.ui-block
  display: block

for side in (top right bottom left)
  .ui-divide-{side}
    margin-{side}: 4px

for side in (left right)
  .ui-anchor-{side}
    position: absolute
    top: 0
    bottom: 0
    {side}: 0

// responsive styles
@media (max-width: 750px)
  .ui-desktop
    display: none

@media (min-width: 750px)
  .ui-mobile
    display: none

// flexbox
.flex
  display: flex

.flex-column
  @extend .flex
  flex-direction: column

.flex-grow
  flex-grow: 1
  min-height: 0

.flex-fixed
  flex-shrink: 0

// root styles
:root
  @extend .ui-text

a
  color: inherit
  text-decoration: none

button, input, textarea
  border: none
  color: inherit
  background: transparent

textarea
  resize: none

for $h in 1..6
  h{$h}
    @extend .ui-header-{$h}

// scrollbar styles
::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
  background-color: darken($colors.dark, 20%)

::-webkit-scrollbar-thumb
  background-color: $colors.light

::-webkit-scrollbar-button
  display: none

::selection
  background: rgba(black, 0.3)
