.flex-column
  display: flex
  flex-direction: column

.flex-row
  display: flex
  flex-direction: row

.flex-stretch
  flex-grow: 1

.flex-fixed
  flex-shrink: 0

.flex-center-children
  display: flex
  align-items: center
  justify-content: center

.flex-divider
  @extend .flex-fixed
  width: 3px
  height: 3px
