.chat-action {
  display: block;
  margin: 0.5em 0.3em;
  font-size: 1.5em;
  opacity: 0.5;
  transition: 0.2s;
}

.chat-action:hover {
  opacity: 0.75;
}

.chat-tab {
  display: block;
  padding: 0.5em;
  opacity: 0.5;
  transition: 0.2s;
  width: 12em;
}

.chat-tab:hover {
  opacity: 0.75;
}

.chat-tab.chat-tab--active {
  opacity: 1;
  background-color: var(--bg-1);
}
