$red = rgb(231, 76, 60)
$blue = rgb(52, 152, 219)
$green = rgb(39, 174, 96)
$yellow = rgb(241, 196, 15)
$purple = rgb(155, 89, 182)

$theme-color = rgb(35,81,126)
$accent-color = rgb(83, 104, 136)
$text-color = rgb(236, 240, 241)

$highlight-active = $green

animate($state = hover, $duration = 0.25s, $properties = all, $easing = ease)
  transition: $duration $easing $properties
  if block
    &:{$state}
      {block}

input-styles()
  width: 10em
  background: darken($theme-color, 25%)
  padding: 0.3em 0.6em

accent-border($side = 'bottom')
  border-{$side}: 2px solid $accent-color

  &:focus
    border-{$side}-color: lighten($accent-color, 30%)

active-animation()
  transform: scale(1)
  display: inline-block

  +animate(active)
    transform: scale(0.95)
    transition-duration: 0s

theme-darker($amount)
  darken($theme-color, $amount)

theme-lighter($amount)
  lighten($theme-color, $amount)
