.flex
  &.row, &.col, &.center-content
    display: flex

  &.row
    flex-direction: row

  &.col
    flex-direction: column

  &.stretch
    flex-grow: 1
    flex-shrink: 1

  &.fixed
    flex-grow: 0
    flex-shrink: 0

  &.center-content
    justify-content: center
    align-items: center
