* {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  font: 16px Roboto, sans-serif;
  color: hsl(0, 0%, 90%);
  background: hsl(0, 0%, 20%);
  --bg-1: hsl(0, 0%, 20%);
  --bg-2: hsl(0, 0%, 13%);
  --bg-3: hsl(0, 0%, 8%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.scroll-v {
  overflow-y: auto;
  word-break: break-word;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0; /* fix flex overflow bug in non-chrome browsers */
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bg-1 {
  background: var(--bg-1);
}
.bg-2 {
  background: var(--bg-2);
}
.bg-3 {
  background: var(--bg-3);
}

.input,
.button {
  font: inherit;
  color: inherit;
  background-color: var(--bg-2);
  border: none;
  padding: 0.4em 0.75em;
  transition: 0.2s;
}

.input:focus {
  outline: none;
  background-color: var(--bg-3);
}

.button:hover {
  cursor: pointer;
  background-color: var(--bg-3);
}

.button:focus {
  outline: none;
  background-color: var(--bg-3);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--bg-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-1);
}
