@keyframes ease-down
  from
    transform: translateY(-4em)
  to
    transform: translateY(0)

.ease-down-enter-active
  animation: ease-down 0.3s

.ease-down-leave-active
  animation: ease-down 0.3s reverse
