@require 'transitions/fade'
@require 'transitions/slide'

.overlay-slide-right-enter-active
  animation: fade 0.3s ease
  .overlay-panel
    animation: slide-right 0.3s ease

.overlay-slide-right-leave-active
  animation: fade 0.3s ease reverse
  .overlay-panel
    animation: slide-right 0.3s ease reverse
