@require 'transitions/fade'
@require 'transitions/slide'
@require 'transitions/ease'

.overlay-enter-active
  animation: fade 0.3s ease
  .overlay-ease-down
    animation: ease-down 0.3s ease
  .overlay-slide-right
    animation: slide-right 0.3s ease

.overlay-leave-active
  animation: fade 0.3s ease reverse
  .overlay-ease-down
    animation: ease-down 0.3s ease reverse
  .overlay-slide-right
    animation: slide-right 0.3s ease reverse
