@import 'flex'

// color definitions
$colors = {
  text: hsl(205, 30%, 85%)

  main: hsl(210, 50%, 30%)
  dark: hsl(211, 50%, 23%)
  light: lighten(hsl(210, 50%, 30%), 20%)

  red: rgb(231, 76, 60)
  blue: rgb(52, 152, 219)
  green: rgb(39, 174, 96)
}

// helpers
.ui-fullscreen
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0

.ui-scroll
  overflow-y: auto

.ui-no-select
  user-select: none

// color and highlight styles
.ui-text-color
  color: $colors.text

.ui-font
  font: 20px 'Roboto', sans-serif

.ui-text
  @extend .ui-text-color, .ui-font

.ui-header
  font-family: 'Roboto Condensed', sans-serif
  opacity: 0.9
  font-weight: 300
  padding: 0
  margin: 0 0 1rem

.ui-color-main { background-color: $colors.main }
.ui-color-dark { background-color: $colors.dark }
.ui-color-darker { background-color: darken($colors.dark, 25%) }
.ui-color-light { background-color: $colors.light }
.ui-color-lighter { background-color: lighten($colors.light, 20%) }

for $color-name in ('red' 'green' 'blue')
  $color = $colors[$color-name]
  .ui-highlight-{$color-name}
    background-color: rgba($color, 0.25)
    color: lighten($color, 20%)

// complimentary / additive composition styling
.ui-border
  border: none
  border-bottom: 3px solid $colors.light

// elements / components
.ui-link
  @extend .ui-border
  border-width: 2px
  color: lighten($colors.light, 60%)
  text-decoration: none

.ui-field
  margin-bottom: 1em

.ui-input, .ui-button
  @extend .ui-color-dark
  color: inherit
  font-family: inherit
  font-size: 0.9em
  padding: 0.4em 0.75em

.ui-input
  @extend .ui-border
  width: 100%

.ui-button
  border: none
  padding-left: 1.5em
  padding-right: 1.5em

.ui-overlay
  @extend .ui-fullscreen, .flex-center-children

.ui-overlay-shade
  @extend .ui-fullscreen
  background-color: rgba(black, 0.3)

.ui-overlay-panel
  @extend .ui-color-main
  box-shadow: 0px 4px 12px rgba(black, 0.5)
  width: min-content

for $side in ('left' 'right')
  .ui-overlay-panel-{$side}
    @extend .ui-overlay-panel
    position: fixed
    top: 0
    bottom: 0
    {$side}: 0

.ui-input-icon
  position: relative

  .ui-icon
    position: absolute
    left: 0.4em
    top: 0.4em
    opacity: 0.5
    pointer-events: none

  .ui-input
    padding-left: 1.8rem

.ui-select
  @extend .ui-input, .ui-scroll
  width: 14em
  height: 18em
  padding: 0

  & > a
    display: block
    padding: 0.5em

  .ui-select-active
    @extend .ui-highlight-green

.ui-dropdown
  @extend .ui-input
  padding: 0 !important
  position: relative

  .ui-icon
    float: right
    position: relative
    top: 0.2em
    opacity: 0.5

  .ui-dropdown-head, .ui-dropdown-items > a
    display: block
    padding: 0.3rem 0.6rem

  .ui-dropdown-items
    @extend .ui-color-darker
    z-index: 420

.ui-editor p
  margin-bottom: 0.1em !important

// root element styles
*
  box-sizing: border-box

div
  padding: 0
  margin: 0

p
  margin: 0em 0em 0.8em

:root
  @extend .ui-text

h1, h2, h3, h4, h5, h6
  @extend .ui-header

a
  color: inherit
  text-decoration: none

[contenteditable]:empty::after
  content: attr(placeholder)
  opacity: 0.5
  font-style: italic
  pointer-events: none

::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
  background-color: darken($colors.dark, 20%)

::-webkit-scrollbar-thumb
  background-color: $colors.light

::-webkit-scrollbar-button
  display: none

::selection
  background: rgba(black, 0.3)
