@import 'App-ui'
@import 'App-common'

.field-padding {
  padding: 0.3em 0.6em
}

fieldset {
  border: none
  padding: 0
  margin: 0em 0em 1em
}

input, textarea, [contenteditable] {
  @extend .ui-dark, .ui-border, .field-padding
  width: 10em
}

button {
  @extend .ui-dark
  @extend .cursor-pointer
  padding: 0.3em 1.5em
  font-size: 0.95em

  &:hover {
    @extend .ui-darker
  }
}
