/* a few nice colors */
$text-color = hsl(205, 30%, 90%)
$theme-color-main = hsl(210, 50%, 30%)
$theme-color-dark = hsl(211, 50%, 23%)
$theme-color-light = lighten($theme-color-main, 10%)

$red = rgb(231, 76, 60)
$blue = rgb(52, 152, 219)
$green = rgb(39, 174, 96)
