@import 'App-colors'

highlight($color)
  background-color: rgba($color, 0.25)
  color: lighten($color, 20%)

.ui-small { font-size: 85% }
.ui-subtle { opacity: 0.5 }

.ui-shadow { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2) }

.ui-main { background-color: $theme-color-main }
.ui-dark { background-color: $theme-color-dark }
.ui-darker { background-color: darken($theme-color-dark, 10%) }
.ui-light { background-color: $theme-color-light }
.ui-lighter { background-color: light($theme-color-light, 10%) }

.ui-border { border-bottom: 3px solid $theme-color-light }
.ui-border-bright { border-bottom: 3px solid lighten($theme-color-light, 30%) }

.ui-highlight-green { highlight: rgb(39, 174, 96) }
.ui-highlight-blue  { highlight: rgb(52, 152, 219) }
.ui-highlight-red   { highlight: rgb(231, 76, 60) }

.ui-shade { background-color: rgba(black, 0.5) }

.ui-link {
  border-bottom: 1px solid rgba($text-color, 0.3)
  
  &:hover {
    border-bottom-color: rgba($text-color, 0.8)
  }

  &.ui-subtle {
    &:hover {
      opacity: 0.8
    }
  }
}

.ui-icon-left {
  position: relative

  .fa-fw {
    position: absolute
    left: 0.3em
    top: 50%
    transform: translateY(-50%)
    opacity: 0.5
  }

  input {
    padding-left: 1.8em
  }
}
