/* helper styles */
.fullscreen {
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
}

.no-select { user-select: none }
.no-border { border: none }
.no-click { pointer-events: none }
.cursor-pointer { cursor: pointer }
.scroll-y { overflow-y: auto }
.pull-right { float: right }
