@import 'App-ui'
@import 'App-common'

fieldset {
  border: none
  padding: 0
  margin-bottom: 1em
}

input, textarea {
  @extend .ui-dark, .ui-border
  width: 10em
  padding: 0.3em 0.6em
}

button {
  @extend .ui-dark
  @extend .cursor-pointer
  padding: 0.3em 1.5em
  font-size: 0.95em

  &:hover {
    @extend .ui-darker
  }
}
