$ease-in-quad = cubic-bezier(0.550,  0.085, 0.680, 0.530)
$ease-out-quad = cubic-bezier(0.250,  0.460, 0.450, 0.940)

animate($property, $easing = ease)
  transition: $property 0.35s $easing

.fade
  &-transition
    animate: opacity
    opacity: 1

  &-enter, &-leave
    opacity: 0

.fade-fluid
  &-transition
    animate: all, $ease-out-quad
    opacity: 1
    transform: translateY(0em)

  &-enter, &-leave
    animate: all, $ease-in-quad
    opacity: 0
    transform: translateY(-4em)

for $side in 'left' 'right'
  .slide-{$side}
    &-transition
      animate: transform, $ease-out-quad
      transform: translateX(0%)

    &-enter, &-leave
      animate: transform, $ease-in-quad
      transform: translateX(-100%)
