$ease-in-quad = cubic-bezier(0.550,  0.085, 0.680, 0.530)
$ease-out-quad = cubic-bezier(0.250,  0.460, 0.450, 0.940)

animate($property, $easing = ease)
  transition: $property 0.4s $easing

.fade
  &-transition
    animate: opacity
    opacity: 1

  &-enter, &-leave
    opacity: 0

.ui.overlay.fade
  &-transition
    .ui.panel
      animate: transform, $ease-out-quad
      transform: translateY(0em)

  &-enter, &-leave
    .ui.panel
      animate: transform, $ease-in-quad
      transform: translateY(-4em)

slide($side)
  .slide-{$side}
    &-transition
      animate: all, $ease-out-quad
      opacity: 1
      .ui.side-panel
        animate: all
        {$side}: 0em

    &-enter, &-leave
      opacity: 0
      .ui.side-panel
        animate: all, $ease-in-quad
        {$side}: -14em

slide('left')
slide('right')
